<div class="container">
  <div class="dataRow">
    <div class="title">
      <h4 class="text-center">Classic battleship game</h4>
    </div>
    <div class="rules">
      <p>
        In this single player game, you must find out where the ships are
        located before using all your moves.
      </p>
      <p>There are 10 ships distributed on the board.</p>
      <p>⚓ <strong>Anchor</strong>, This locker was not pressed.</p>
      <p>🌊 <strong>Water</strong>, There is no boat in this box.</p>
      <p>🚢 <strong>Ship</strong>, There is a boat in this box.</p>
      <p>Good luck!</p>
    </div>
    <button routerLink="/setup" >Ok</button>
  </div>
</div>
